
%boton{
    background-color: $color-principal;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 15%;
    margin: 0rem 0.5rem 2.5rem 0.5rem;
    justify-self: center;
    align-self: center;  
}

